body {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.grid{
    width: 480px;
    border: solid black 1px;
    height: 480px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.gridSquare {
    margin: 0;
    display: flex;
    flex: 1 0 auto;
}

.gridSquare:hover {
    background-color: aqua;
}

.colored {
    background-color: gray;
}